
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#faeee7;
    font-family: 'Nunito Sans', sans-serif;
}

.logo {
    color: #33272a;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 20px;
}
.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #33272a;
    text-decoration: none;
    letter-spacing: 3.5px;
    font-weight: bold;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 4px;
    margin: 5px;
    background-color: #33272a;
    transition: all 0.3s ease;
}

@media screen and (min-width: 1024px){
    .nav-links{
        width: 65%;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden; 
        overflow-y: hidden;
        
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #faeee7;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0,5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

h2 {
    font-size: 2.5rem;
    line-height: 100%;
    padding: 1rem 0rem;
    align-content: center;
}

h3 {
    font-size: 1.25rem;
    line-height: 100%;
    padding: 1rem 0rem;
    align-content: center;
}
.ctas {
    margin-top: 2rem;
    align-content: center;
}
.ctas button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.211);
    margin: 1rem;
}
.cta-main {
    background-color: #ff8ba7;
    text-decoration: none;
}
.cta-sec{
    background-color: #ff8ba7;
}

.selling-point {
    padding-top: 5vh;
    font-family: "argonite", sans-serif;
    text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.511);
    text-align: center;
}
.my-photo{
    position:relative;
    width:300px;
    height:300px; 
    border-radius:50%;
    margin-bottom: 20px;
    object-fit:cover;
}
